     <section id="main-section">
            <div id="parts">
                <div id="components">
                    <div class="component-card" id="processor">
                        <img src="Assets/CPU.jpg" alt="processor">
                        <p>Processor</p>
                    </div>
                    <div class="component-card" id="ram">
                        <img src="Assets/ram.jpg" alt="ram">
                        <p>Ram</p>
                    </div>
                    <div class="component-card" id="storage">
                        <img src="Assets/storage_edited.jpg" alt="storage">
                        <p>Storage</p>
                    </div>
                    <div class="component-card" id="motherboard">
                        <img src="Assets/motherboard.jpg" alt="motherboard">
                        <p>Motherboard</p>
                    </div>
                    <div class="component-card" id="keyboard">
                        <img src="Assets/keyboard.jpg" alt="keyboard">
                        <p>Keyboard</p>
                    </div>
                    <div class="component-card" id="gpu">
                        <img src="Assets/gpu_.jpg" alt="gpu">
                        <p>GPU</p>
                    </div>
                    <div class="component-card" id="case">
                        <img src="Assets/case.jpg" alt="case">
                        <p>Cases</p>
                    </div>
                    <div class="component-card" id="case_fan">
                        <img src="Assets/case_fan.png" alt="case_fan">
                        <p>Case Fan</p>
                    </div>
                    <div class="component-card" id="cpu_fan">
                        <img src="Assets/case_fan.png" alt="cpu_fan">
                        <p>CPU Fan</p>
                    </div>
                    <div class="component-card" id="monitor">
                        <img src="Assets/monitor.jpg" alt="monitor">
                        <p>Monitor</p>
                    </div>
                </div>
                <div id="options">
                    <h5 class="components"></h5>
                    <ul class="list-choice d-flex flex-column d-flex justify-content-around" id="choices">
                        <li class="choice d-flex justify-content-around" id="0"></li>
                        <li class="choice d-flex justify-content-around" id="1"></li>
                        <li class="choice d-flex justify-content-around" id="2"></li>
                        <li class="choice d-flex justify-content-around" id="3"></li>
                        <li class="choice d-flex justify-content-around" id="4"></li>
                    </ul>
                </div>
            </div>
            <div id="selection" style="background: white;border-radius:5px">
                <h2>Selected parts</h2>
                <ul class="d-flex flex-column d-flex justify-content-around" id="selected-list"></ul>
            </div>



            <div id="main-section-btn-div">
                <div>
                    <button id="save-config-btn">Save configuration</button>
                </div>
            </div>
        </section>

