<section id="main-section">
      <div>
        <h1>
          Experience the New Perspective of</br><mark id="mark">Building Your Dream Pc</mark>
        </h1>
      </div>
      <div id="sub-head">
        <p>Building your own PC is a rewarding experience.With our new approach,<br>
          we will help you to be sure that the compatibility of your selected PC parts is just right.
        </p>
      </div>
      <div id="main-section-btn-div">
        <div>
          <button id="main-section-button">Create Now</button>
        </div>
        <div>
          <button id="main-section-button-Prebuilt">Buy Pre-built PC</button>
        </div>
      </div>
    </section>
