<section id="form-section">
  <div class="form-div">
    <form>
            <div class="container">
                  <h1>Login</h1>
                  <label for="uname"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" name="uname" id="loginEmail" required>
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" id="loginPassword" required>
                  <button type="submit" id="loginButton">Login</button>
                </div>
                </form>
              </div>
 <div class="form-div">
    <form>
            <div class="container">
                  <h1>Sign Up</h1>
                  <p>Please fill in this form to create an account.</p>
                  <hr>
                  <label for="email"><b>Email</b></label>
                  <input type="text" placeholder="Enter Email" name="email" id="signup-email" required>
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" id="psw1" required>
                  {{!-- <label for="psw-repeat"><b>Repeat Password</b></label>
                  <input type="password" placeholder="Repeat Password" name="psw-repeat" required> --}}
                  <div class="clearfix">
                    <button type="submit" class="signupbtn" id="signup-button">Sign Up</button>
                  </div>
                </div>
              </form>
            </div>
            </section>