   <section class="d-flex flex-column align-items-center" id="main-section-pre">
        <!--        GAMING PC BUILDS         -->
        <div id="category">
            <!-- cpu, storage, ram, mobo, chipset, gpu, psu, os, case -->
            <section class="d-block">
                <h1>Gaming <mark class="mark">PC's</mark></h1>
                <div class="d-flex flex-wrap justify-content-around">

                    <div class="card align-items-center" id="budget-pc">
                        <img src="Assets/budgetBuild.jpg" alt="Image of a prebuilt PC">
                        <h5 class="heading-category">Budget gaming PC</h5>
                        <p>CPU: Intel Core i3-12100F</p>
                        <p>GPU: ASUS RX 6400 4GB</p>
                        <p>Price: $1106</p>
                    </div>

                    <div class="card align-items-center" id="mid-pc">
                        <img src="Assets/midBuild.jpg" alt="Image of a prebuilt PC">
                        <h5 class="heading-category">Mid Tier Gaming PC</h5>
                        <p>CPU: AMD Ryzen 5 5600X</p>
                        <p>GPU: ASRock Radeon RX 6700</p>
                        <p>Price: $1472</p>
                    </div>

                    <div class="card align-items-center" id="high-end-pc">
                        <img src="Assets/highEndBuild.jpg" alt="Image of a prebuilt PC">
                        <h5 class="heading-category">High End Gaming PC</h5>
                        <p>CPU: AMD Ryzen 5 5600X</p>
                        <p>GPU: ASRock Radeon RX 6700</p>
                        <p>Price: $3505</p>
                    </div>

                </div>
            </section>

        </div>

    <!--        VIDEO EDITING BUILDS        -->
        <div id="category">
            <section class="d-block">
                <h1>Video Editing <mark class="mark">PC's</mark></h1>
                <div class="d-flex flex-wrap justify-content-around">

                    <div class="card align-items-center" id="pro-edit-pc">
                        <img src="Assets/midBuild.jpg" alt="Image of a prebuilt PC">
                        <h5 class="heading-category">Professional Video Editing PC</h5>
                        <p>CPU: Intel Core i5-13600K</p>
                        <p>GPU: ASRock Radeon RX 6700</p>
                        <p>Price: $2160</p>
                    </div>

                    <div class="card align-items-center" id="super-edit-pc">
                        <img src="Assets/superPc.jpg" alt="Image of a prebuilt PC">
                        <h5 class="heading-category">Video Editing Beast</h5>
                        <p>CPU: AMD Ryzen 9 7950X</p>
                        <p>GPU: ASUS TUF GeForce RTX 3090</p>
                        <p>Price: $5759</p>
                    </div>

                </div>
            </section>

        </div>

    <!--        MODAL TO POPULATE INFORMATION ONCLICK OF PC CARD         -->
        <div class="modal-background hidden" id="modal">
            <div class="modal-card" id="modal-content">
              <span class="modal-close">&times;</span>
              <!-- new elements added here -->
            </div>
          </div>
   </section>
