#main-section-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./public/Images/background.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 0px 200px 40px;
    margin-top: -100px;
}

.picture {
    width: 50px;
    height: auto;
}

div#selection {
    background-color: black !important;
    color: transparent;
    box-shadow: 0px 6px 18px 7px #00f2ff45;
    border: solid 1px transparent;
    border-radius: 4px;
    color: white;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 40px; */
}

.choice {
    background-color: white;
    width: 80%;
    border: 1px black;
}

.choice p {
    font-size: 14px;
}

h5 {
    background-color: white;
    width: fit-content;
} 

#save-config-btn{
    background-color: rgb(0, 242, 255);
    font-size: 20px;
    font-weight: 500;
    border: solid 1px transparent;
    border-radius: 2px;
    color: white;
    text-align: center;
    padding: 6px 30px 6px 30px;
    margin-top: 30px;
    cursor: pointer;
}
#main-section-button-Prebuilt {
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    border: solid 2px rgb(0, 242, 255);
    border-radius: 2px;
    color: white;
    text-align: center;
    padding: 6px 30px 6px 30px;
    margin-top: 30px;
    cursor: pointer;
}

#parts {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
    row-gap: 25px;
    /* flex-wrap: wrap; */
}

#components {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;
    align-items: center;
}


.component-card {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flexbox;
    text-align: center;
    align-items: center;
    color: lightgrey;
}

.component-card>img {
    height: 70px;
    width: 70px;
    border-radius: 5px;
    opacity: 0.8"

}

.partImage:hover {
    scale: 2;
    transition-duration: 1s;
}

.monitor>img {
    height: 70px;
    width: 70px;
    border-radius: 5px;
    opacity: 0.8"   
}

.monitor {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flexbox;
    text-align: center;
    align-items: center;
    color: lightgrey;
}

@media (max-width: 900px) {
   #main-section-custom {
      display: flex;
      justify-content: center;
      column-gap: 100px;
      width: 80%;
      flex-wrap: wrap;
      row-gap: 80px;
      width: 100%;
      padding: 337px 44px 70px 44px;
      margin-top: -288px;
  }
}