#main-section-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./public/Images/background.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 0px 200px 40px;
    margin-top: -100px;
    height: 130vh;
}

.picture {
    width: 50px;
    height: auto;
}

.choice {
    background-color: white;
    width: 80%;
    border: 1px black;
}

.choice p {
    font-size: 14px;
}

h5 {
    background-color: white;
    width: fit-content;
} 

#save-config-btn{
    background-color: rgb(0, 242, 255);
    font-size: 20px;
    font-weight: 500;
    border: solid 1px transparent;
    border-radius: 2px;
    color: white;
    text-align: center;
    padding: 6px 30px 6px 30px;
    margin-top: 30px;
    cursor: pointer;
}
#main-section-button-Prebuilt {
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    border: solid 2px rgb(0, 242, 255);
    border-radius: 2px;
    color: white;
    text-align: center;
    padding: 6px 30px 6px 30px;
    margin-top: 30px;
    cursor: pointer;
}

#parts {
    width: 100%;
    display: block;
    justify-content: space-around;

}

#components {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.component-card {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flexbox;
    text-align: center;
    align-items: center;
    color: lightgrey;
}

.component-card>img {
    height: 70px;
    width: 70px;
    border-radius: 5px;
    opacity: 0.8"

}

.partImage:hover {
    scale: 2;
    transition-duration: 1s;
}

.monitor-card>img {
    height: 70px;
    width: 70px;
    border-radius: 5px;
    opacity: 0.8"   
}

.monitor-card {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flexbox;
    text-align: center;
    align-items: center;
    color: lightgrey;
}