/* PREBUILD CSS STARTS HERE */
section h1 {
    padding: 5px;
}

h5 {
    background-color: transparent;
}

#main-section-pre {
    display: flex;
    /* background-image: url(./anmol/image\ \(5\).png); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 10px 10px 10px;
    margin-top: -100px;
    height: 130vh;
}

#category {
    background-color: black;
    width: 90%;
    height: fit-content;
    margin-bottom: 72px;
    border: solid 1px transparent;
    border-radius: 8px;
    box-shadow: 0px 4px 18px 7px #00f2ff54;
    padding-bottom: 50px;
}

.d-block h1{
    color: white;
    padding: 25px 22px 22px 22px;
    font-size: 45px;
}

.mark {
    color: rgb(0, 242, 255);
    background-color: transparent;
    font-size: 45px;
    font-weight: 700;
    margin-left: -10px;
}

.card {
    border-radius: 5%;
    background-color: black;
    color: rgb(0, 242, 255);
    width: 300px;
    min-width: 200px;
    max-width: 300px;
    margin: 16px;
    padding: 15px;
    border: solid 1px rgb(0, 242, 255);
    border-radius: 5px;
}

.heading-category{
    padding-top: 15px;
}
p {
    padding: 5px;
}

img {
    width: 93%;
    height: fit-content;
    margin: 5px;
}

/*      MODAL CSS        */
.hidden {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-card {
    background-color: #1db954;
    margin: 10% auto;
    padding: 21px;
    z-index: 1;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    overflow: auto;
}

.modal-close {
    color: black;
    float: right;
    font-size: xx-large;
}

.modal-close:hover {
    font-size: 45px;
    transition: 0.3s;
    color: red;
}

@media (max-width: 779px){
    .d-block h1{
        text-align: center;
    }
}
